.container {
  max-width: 160rem;
  margin: 3rem auto;
  min-height: 100rem;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex: 0 0 22%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  width: 100%;
}
.mainbody {
  background-color: #fff;
  flex: 1;
  min-height: 100vh;
  position: relative;
}
@media (max-width: 90em) {
  .sidebar {
    font-size: 1.4rem;
  }
}
@media (max-width: 81.5em) {
  .sidebar {
    font-size: 1.3rem;
  }
}
@media (max-width: 77em) {
  .sidebar {
    display: flex;
    flex: 0 0 23.5%;
  }
}
@media (max-width: 72em) {
  .sidebar {
    display: flex;
    flex: 0 0 25%;
  }
}
@media (max-width: 68em) {
  .side-nav__item-home {
    max-width: 10rem;
  }
  .side-nav__item-calendar {
    min-width: 21rem;
  }
  .side-nav__item-photoGallery {
    min-width: 17rem;
  }
  .side-nav__item-faq {
    max-width: 10rem;
  }
  .side-nav__item-about {
    max-width: 10rem;
  }
  .side-nav__item-contact {
    min-width: 11rem;
    padding-right: 0;
  }

  .container {
    margin: 0 auto;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    min-height: 6rem;
    align-items: center;
    justify-content: center;
  }
  .side-nav {
    position: fixed;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    flex: 0 0 auto;
    padding-bottom: 1rem;
    font-size: 1rem;

    &__link:link,
    &__link:visited {
      align-items: stretch;
      z-index: 2;
      width: 100%;
    }
    &__item {
      display: flex;
      align-items: flex-end;
      align-self: stretch;
      &:not(:last-child) {
        margin-bottom: 0rem;
        margin-right: 0.5rem;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 20px;
        background-color: var(--color-primary-purple);
        transform: scaleY(0);
        transition: transform 0.3s, width 0.3s 0.3s;
      }
    }
    &__item:hover::before,
    &__item--active::before {
      transform: scaleY(1);
      width: 100%;
    }
    &__item:active::before {
      background-color: var(--color-primary-purple-light);
    }

    &__icon {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;
      fill: currentColor;
      margin-left: 1rem;
    }
  }
  .openimage {
    display: block;
    height: 100vh;
    min-width: 90vw;
    margin-right: 5%;
    margin-top: 0%;
  }
  .openimage__img {
    margin-left: 0%;
  }
}
@media (max-width: 60em) {
  .title__title-logo--logo {
    display: inline-block;
    height: 10rem;
    width: 10rem;
  }
  .title__title-logo--title {
    font-size: 4rem;
  }
  .title__title-subtitle1,
  .title__title-subtitle1,.title__title-videodiv--heading  {
    font-size: 1.5rem;
  }
  .title__title-videodiv--heading {
    font-size: 1.5rem;
  }
  .sidebar_calendar {
    min-width: 95rem;
  }
  .sidenav_calendar {
    transform: translateX(-10rem);
  }
}

@media (max-width: 48.5em) {
  .side-nav__icon {
    display: none;
  }
  .side-nav__item-home {
    max-width: 10rem;
    padding-left: 0.7rem;
  }
  .side-nav__item-calendar {
    min-width: 17.7rem;
    padding-left: 0.7rem;
  }
  .side-nav__item-photoGallery {
    min-width: 10.7rem;
    padding-left: 0.7rem;
  }
  .side-nav__item-faq {
    max-width: 6rem;
    padding-left: 0.7rem;

    display: inline-block;
  }
  .side-nav__item-about {
    max-width: 9rem;
    padding-left: 0.7rem;
  }
  .side-nav__item-contact {
    min-width: 9rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
@media (max-width:42em){
  html{
    font-size:50%;
  }
}
