$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-vertical-small: 1.5rem;
$gutter-horizontal: 2rem;

.boldanditalic {
  font-style: italic;
  font-weight: bold;
}
.deadlink:link,
.deadlink:visited,
.deadlink:active {
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  color: currentColor;
}
